.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
.gitignore
.git/**
.env
.env.example
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
PUBLISHING.md
SETUP.md
node_modules/**/.bin/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/CHANGELOG.md
**/.DS_Store
.npmignore
